/* css styles */

.navbar, .navbar-nav {
    background-color: #002b36 !important;  /* or your preferred color */
  }

a {
    color: #1E8574; /* link colour */
  }

  a:hover {
    color: #E02D00; /* link hover colour */
  }

  body {
    color: #002b36;  /* main body text colour */
  }