/* css styles */



.navbar, .navbar-nav {
    background-color: #002b36 !important;  /* navigation bar */
  }

a {
    color: #1E8574; /* link colour */
  }

  a:hover {
    color: #E02D00; /* link hover colour */
  }

  body {
    color: #002b36;  /* main body text colour */
  }

  /*Buttons*/
.btn-primary {
    background-color: #002b36 !important; /* Primary button */
    border: 2px solid #002b36 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #1E8574 !important; /* Button hover effect */
    border: 2px solid #1E8574 !important;
}

.btn-primary:focus, /* Remove focus / active glow */
.btn-primary:active,
.btn-primary.focus,
.btn-primary:active:focus {
    outline: none !important;
    box-shadow: none !important;
}

.cta-btn {
  display: inline-block;
  min-width: 160px;
  text-align: center;
}

/*Heading 2*/
body h2 {
  border-bottom: none !important;  /* remove underline */
  font-size: 1.8rem !important;    /* increase size */
}

/*Round image*/
.round-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* centers it */
}