/* css styles */



.navbar, .navbar-nav {
    background-color: #002b36 !important;  /* navigation bar */
  }

a {
    color: #1E8574; /* link colour */
  }

  a:hover {
    color: #E02D00; /* link hover colour */
  }

  body {
    color: #002b36;  /* main body text colour */
  }

.btn-primary {
    background-color: #002b36 !important; /* Primary button */
    border: 2px solid #002b36 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #1E8574 !important; /* Button hover effect */
    border: 2px solid #1E8574 !important;
}